version: '3.8'


services:
  

  database:
    image: postgres:15
    container_name: policia_db_postgres 
    restart: always 
 
    environment:
      POSTGRES_USER: ${DB_USERNAME}   
      POSTGRES_PASSWORD: ${DB_PASSWORD} 
      POSTGRES_DB: ${DB_DATABASE}
    

    ports:
      - "5432:5432"
      

    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: